* {
  margin: 0;
  padding: 0;
}

.image-collage {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background: transparent !important;
}

.image-collage img {
  width: 100%;
  height: auto;
}
